* {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin-top: 100px;
  }
  
  header {
    box-sizing: border-box;
    padding: 20px;
    margin-top: -100px;
    height: 100px;
    color: white;
    width: 100%;
    background-color: rgb(0,0,0, 0.5);
    backdrop-filter: blur(20px);
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999999;
  }
  
  
  
  #header_izquierda {
    display: flex;
    align-items: center;
    width: 20%;
  }
  
  #header_izquierda img {
    width: 100px;
  }
  
  #header_derecho {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }

  .header_boton {
    background-color: rgb(0,0,0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    }
    
    .header_boton:hover {
    background-color: rgb(255,255,255, 0.1);
    backdrop-filter: blur(4px);
    }

  li {
    margin: 10px;
  }

  #texto {
    margin: 20px;
    height: 350px;
    margin-top: 60px;
    background-color: #d3d3d3;
    flex-direction: column;
    display: flex;
    padding: 30px;
  }

  #texto h2 {
     margin-left: 30% ;
     background: linear-gradient(to right, #333, #ccc);
    -webkit-background-clip: text;
     color: transparent;
  }

  .imagen-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#ccc;
  }
  
  button {
    background-color: #3a4550;
    color: #fff;
    border: 20%;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666a6c;
  }
  
  button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  
  .boton-izquierdo {
    position: absolute;
    backdrop-filter: blur(20px);
    left: 60px;
  }
  
  .boton-derecho {
    position: absolute;
    backdrop-filter: blur(20px);
    right: 60px;
  }

#imagenActual{
  width: 60%;
  height: 60%;
  margin-left:19% ;
 
}


/*Características únicas del restaurante*/

#texto_restaurante{
  width: 100%;
  background-color: #d3d3d3;
  


}

#texto_restaurante h2{
  margin-left: 50%;
 


}

#cartas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:94%;
  margin-left: 30px;
  background-image: url(/fotoshotel/fondoDeCarta.jpg);
}

#cartas ul{
  padding: 5px;
  list-style: none;
}

#cartas_izquierda {
  display: flex;
  width: 40%;
  margin-left: 7%;
  margin-top: 11%;
 
  
}

#cartas_derecha {
  margin-top: 11%;
  width: 40%;
  display: flex;
  margin-left: 8%;

}

/* CSS Contactos */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}*/

.contact-info {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}


strong {
  color: #007BFF;
}




